@font-face{
    font-family: 'gilroy';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face{
    font-family: 'serif';
    src: url(../fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}

